@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Light-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #5D6063; /* light gray */
  background-color: #EAEDF0; /* rice white */
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  padding-top: 10em;

  /* Making the body a flex box */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-form{
  border-radius: 3px;

  width: 80%;
  padding: 50px;
  margin: 0 0 40px 0;
}

.form-row{
  flex-direction: row;
  align-items: flex-start; /* To avoid stretching */
  margin-bottom: 40px;
  text-align: justify;
}

/* texturing the submit button */
.form-row button{
  font-size: 16px;
  font-weight: normal;

  color: #EEEEEE; /* rice white */
  background-color: #54575A; /* dark grey */

  border: none;
  border-radius: 3px;

  padding: 4px 10px;
  cursor: pointer;

  justify-content: center;
}

.form-row
button:hover,
button:active{
  background-color: #888F95; /* light gray */
}

/* texturing the link */
a:link,
a:visited {
  color: #888F95; /* light gray  #5d6063; gray */
  text-decoration: none;
}

a:hover,
a:visited:hover,
a:active,
a:visited:active {
  color: #54A5C4; /* teal */
}
